*,
*::before,
*::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #fff;
}

* {
	margin: 0;
}

html,
body {
	font-family: 'Google Sans', sans-serif;
	overflow: hidden;
	height: 100%;
	background-color: #202124;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	vertical-align: middle;
}

progress {
	vertical-align: baseline;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: inherit;
}

#root,
#__next {
	isolation: isolate;
}

a {
	color: inherit;
	text-decoration: none;
}

@media not print {
	header,
	main,
	footer {
		display: none;
	}
}

@media print {
	html {
		display: block;
		font-size: 12px;
	}

	progress {
		width: 90%;
	}

	progress[value]::-webkit-progress-bar {
		height: 4px;
		background-color: #404248;
		border-radius: 2px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;
	}

	progress[value]::-webkit-progress-value {
		background-color: #4285f4;
		border-radius: 2px;
		margin-top: -2px;
	}
}
