---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Landing from '../components/landing.astro';
import Header from '../components/header.svelte';
import Main from '../components/main.astro';
import Footer from '../components/footer.astro';
---

<Layout title="VRG's Resume">
	<div id='App'>
		<Landing />
		<Header client:load />
		<Main />
		<Footer />
	</div>
</Layout>

<style>
	#App {
		color: rgb(237, 242, 247);
		font-size: 0.75rem;
	}

	@media print {
		#App {
			display: grid;
			width: 21cm;
			height: 29.7cm;
			grid-template-rows: auto 1fr auto;
			font-family: 'Open Sans', sans-serif;
		}
	}
</style>
