---
const { name, level } = Astro.props;
---

<div class='name'>
	<h2 class='text'>{name}</h2>
	<progress class='skl-level' value={level} max='100'></progress>
</div>

<style>
	.name {
		flex: 1 1 0%;
		flex-basis: 100%;
		margin-right: 1.5rem;
	}

	.text {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
</style>
