---
import Experience from './experience.svelte';
import Education from './education.astro';
import Skill from './skill.astro';
import Award from './award.astro';
import data from '../data.json';
import Hobby from './hobby.astro';
import Language from './language.astro';
---

<main>
	<div class="left">
		<section class="experience">
			<h1 class="section-title">Experience</h1>
			{data.experiences.map(experience => <Experience {...experience} />)}
		</section>
		<section class="education">
			<h1 class="section-title">Education</h1>
			{data.educations.map(education => <Education {...education} />)}
		</section>
		<section class="awards">
			<h1 class="section-title">Publications & Awards</h1>
			{data.awards.map(award => <Award {...award} />)}
		</section>
		<section class="languages">
			<h1 class="section-title">Languages</h1>
			<div class="languages-list">
				{data.languages.map(language => <Language {...language} />)}
			</div>
		</section>
		<section class="hobbies">
			<h1 class="section-title">Hobbies</h1>
			<div class="hobbies-list">
				{data.hobbies.map(hobby => <Hobby {...hobby} />)}
			</div>
		</section>
	</div>
	<div class="right">
		<section class="skills">
			<h1 class="section-title">Knowledge and Skills</h1>
			{data.skills.map(skill => <Skill {...skill} />)}
		</section>
		<div>
			<span id="resumelink">
				Generated at&nbsp;
				<a href="https://resume.VRG.rocks/"> resume.VRG.rocks </a>
			</span>
		</div>
	</div>
</main>

<style>
	main {
		display: grid;
		grid-template-columns: 60% 40%;
		padding: 2rem;
	}

	h1 {
		font-family: 'Sen', sans-serif;
	}

	section:not(:last-of-type) {
		margin-bottom: 1.25rem;
	}

	.section-title {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.hobbies-list {
		font-size: 1rem;
		margin-bottom: -4px;
		margin-top: 0.75rem;
	}

	.languages-list,
	.hobbies-list {
		display: flex;
	}

	#resumelink {
		color: rgb(113, 128, 150);
	}
</style>
